services:
  backend:
    build: ./backend
    container_name: meu_colab_backend
    env_file:
      - ./.env
    environment:
      # Define o caminho do host para o sandbox
      - HOST_WORKSPACE_PATH=${PWD}/Arquivos
      # ATUALIZADO: Diz ao backend para rodar em modo 'development'
      - ENV_MODE=development 
    ports:
      # ATUALIZADO: Expõe a porta 8000 diretamente
      - "8000:8000"
    volumes:
      - ./backend:/app
      - ./Arquivos:/app/Arquivos
      - /var/run/docker.sock:/var/run/docker.sock
    # ATUALIZADO: Removemos todas as 'labels' e 'networks' do Traefik
    # O Docker usará sua própria rede 'default'
    
  frontend:
    build:
      context: ./frontend
      # ATUALIZADO: Usa o Dockerfile de desenvolvimento
      dockerfile: Dockerfile 
    container_name: meu_colab_frontend
    ports:
      # ATUALIZADO: Expõe a porta 5173 diretamente
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend