services:

  # 1. Nosso serviço de Backend
  backend:
    build: ./backend  # Onde encontrar o Dockerfile? Na pasta ./backend
    container_name: meu_colab_backend
    env_file:
      - ./.env      # Diz ao contêiner para carregar as variáveis do .env
    environment:
      # ${PWD} é uma variável especial do compose que pega o caminho atual
      HOST_WORKSPACE_PATH: ${PWD}/Arquivos
    ports:
      - "8000:8000" # Mapeia a porta 8000 do contêiner para a porta 8000 do seu PC
    volumes:
      - ./backend:/app # "Espelha" a pasta ./backend do seu PC para /app dentro do contêiner
      - ./Arquivos:/app/Arquivos
      - /var/run/docker.sock:/var/run/docker.sock

  # 2. Nosso serviço de Frontend
  frontend:
    build: ./frontend # Onde encontrar o Dockerfile? Na pasta ./frontend
    container_name: meu_colab_frontend
    ports:
      - "5173:5173" # Mapeia a porta 5173 do contêiner para a 5173 do seu PC
    volumes:
      - ./frontend:/app # "Espelha" a pasta do frontend
      - /app/node_modules # Macete: Não espelhe a node_modules, use a que foi instalada DENTRO do contêiner
    depends_on:
      - backend     # Diz ao Docker para esperar o backend iniciar antes de iniciar o frontend