services:

  # 1. Nosso serviço de Backend
  backend:
    build: ./backend  # Onde encontrar o Dockerfile? Na pasta ./backend
    container_name: meu_colab_backend
    env_file:
      - ./.env      # Diz ao contêiner para carregar as variáveis do .env
    environment:
      # ${PWD} é uma variável especial do compose que pega o caminho atual
      HOST_WORKSPACE_PATH: ${PWD}/Arquivos

    volumes:
      - ./backend:/app # "Espelha" a pasta ./backend do seu PC para /app dentro do contêiner
      - ./Arquivos:/app/Arquivos
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - root_default # Conecta à rede do Traefik
    labels:
      - "traefik.enable=true"
      # Roteia 'localhost/api/...' para o backend
      - "traefik.http.routers.meu-colab-backend-local.rule=Host(`localhost`) && PathPrefix(`/api`)"
      - "traefik.http.routers.meu-colab-backend-local.entrypoints=web"
      # Remove o /api antes de enviar para o FastAPI (que espera /v1/...)
      - "traefik.http.middlewares.meu-colab-strip-local.stripprefix.prefixes=/api"
      - "traefik.http.routers.meu-colab-backend-local.middlewares=meu-colab-strip-local"
      # Aponta para a porta 8000 do backend
      - "traefik.http.services.meu-colab-backend-local.loadbalancer.server.port=8000"
      - "traefik.docker.network=root_default"

  # 2. Nosso serviço de Frontend
  frontend:
    build: ./frontend
    container_name: meu_colab_frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    networks:
      - root_default # Conecta à rede do Traefik
    # Labels do Traefik para o FRONTEND
    labels:
      - "traefik.enable=true"
      # Roteia todo o resto ('localhost/') para o frontend
      - "traefik.http.routers.meu-colab-frontend-local.rule=Host(`localhost`)"
      - "traefik.http.routers.meu-colab-frontend-local.entrypoints=web"
      # Aponta para a porta 5173 do frontend (o servidor 'npm run dev')
      - "traefik.http.services.meu-colab-frontend-local.loadbalancer.server.port=5173"
      - "traefik.docker.network=root_default"

networks:
  root_default:
    external: true